@using System.Text.Json
@{
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}
@section styles {
    <style>
       
    </style>
}
<!-- 麵包屑 -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="~/FrontHome/FrontIndex" class="text-decoration-none">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">商品列表</li>
    </ol>
</nav>
<!-- 產品列表 -->
<div id="app">
    <div class="container mb-5 text-center">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3" v-for="item in product">
                <div class="card mb-3">
                    <a :href="'/FrontHome/productdetail/' + item.pid">
                        <img v-bind:src="'/Images/'+ item.pphoto" alt="" class="card-img-top" />
                    </a>
                    <div class="card-body ">
                        <div class="card-title mt-2 fw-bold ps-2" style="color:dimgray">{{item.pname}}</div>
                        <div class="card-text fw-bold mt-1 ps-2 pb-2" style="color:black">NT$ {{item.pprice}}</div>
                        <button type="button" class="btn btn-outline-secondary" v-on:click="">加入購物車</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js" integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var vueApp={
            data() {
                return {
                    baseAddress: "https://localhost:7279",
                    product: [],
                }
            },
            methods:{
                List: function () {
                    let _this = this;
                    axios.get(`${_this.baseAddress}/Product/Getproduct`).then(response => {
                        _this.product = response.data;
                    }).catch(err => {
                        alert(err.message)
                    })
                }
            },
            mounted:function () {
                let _this = this;
                _this.List();
            }
        };
        var app=Vue.createApp(vueApp).mount("#app");
    </script>
}