@{
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}
@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&family=Liu+Jian+Mao+Cao&family=Long+Cang&family=Ma+Shan+Zheng&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <style>
        .clothes-box {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: 40%;
            height: 70%;
            white-space: pre;
            overflow: hidden;
            /* border:1px solid black */
        }

        .clothes-container {
            position: relative;
        }

        .btn-side {
            position: absolute;
            margin: 2px;
            background-color: #8891a3c7 !important;
            border: none !important;
            color: white !important;
            width: 60px;
            height: 35px;
            border-radius: 10px !important;
        }

        .money {
            position: absolute;
            margin: 10px;
            right: 5%;
            font-weight: bolder;
        }

        .btn-side:hover {
            background-color: #8a8282c7 !important;
            border: 1px solid #8891a3c7 !important;
        }

        .product-item {
            text-align: center;
        }

        #tshirt:hover,
        #longTshirt:hover,
        #coat:hover,
        #sweatshirt:hover,
        #shortPolo:hover,
        .fontFamily:hover,
        #shirt:hover {
            transform: scale(1.1);
        }

        #white:hover,
        #black:hover,
        #blue:hover,
        #red:hover,
        #green:hover,
        #gray:hover,
        #deepblue:hover {
            transform: scale(1.1);
        }

        .item-active {
            box-shadow: 1px 1px 3px #000;
            border-radius: 10%;
            transform: scale(1.1);
            padding: 2px;
        }

        .color-content h3 {
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        .color {
            width: 30px;
            height: 30px;
            background: none;
            border-radius: 50%;
            margin-right: 12px;
            cursor: pointer;
            transition: all 0.5s ease;
            aspect-ratio: 1; /* 確保寬高比例為 1:1 */
        }

        .color-black {
            background-color: #242424;
        }

        .color-blue {
            background-color: #085ea0;
        }

        .color-yellow {
            background-color: #ecdf2a;
        }

        .color-red {
            background-color: #8b0516;
        }

        .color-white {
            background-color: #ededed;
        }

        .color-green {
            background-color: #2b814c;
        }

        .color-lightgreen {
            background-color: rgb(184, 239, 226);
        }

        .color-gray {
            background-color: rgb(169, 167, 167);
        }

        .color-orange {
            background-color: #d37c0a;
        }

        .color:hover {
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.7);
            transform: scale(1.1);
        }

        .active-color {
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.7);
        }

        .color-groups {
            padding: 1rem 0;
            display: flex;
        }

      
    </style>
}
<!-- breadcrumb 麵包屑 -->
<nav aria-label="breadcrumb" class="p-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/FrontHome/FrontIndex" class="text-decoration-none">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="~/FrontHome/Product" class="text-decoration-none">商品列表</a></li>
        <li class="breadcrumb-item active" aria-current="page">商品介紹</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/product/pc-01-01.jpg" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/product/pc-01-01.jpg" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/product/pc-01-01.jpg" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <p class="fs-3 ms-4">鋪棉毛絨翻領寬版外套 </p>
            <p class="fs-1 mt-5 ms-4"> NT$ 1590元 </p>
            <!-- 衣服顏色 -->
            <div class="color-content">
                <div class="fs-5 fw-bold mt-5">
                    衣服顏色
                    <div class="color-groups mt-2">
                        <div class="color color-white" v-bind:class="{'active-color': activeColor === 'white'}" v-on:click="changeColor('white','white')"></div>
                        <div class="color color-black" v-bind:class="{'active-color': activeColor === 'black'}" v-on:click="changeColor('black','rgba(15, 15, 15,0.8)')"></div>
                        <div class="color color-yellow" v-bind:class="{'active-color': activeColor === 'yellow'}" v-on:click="changeColor('yellow','#ffee00')"></div>
                        <div class="color color-blue" v-bind:class="{'active-color': activeColor === 'blue'}" v-on:click="changeColor('blue','#085ea0')"></div>
                        <div class="color color-red" v-bind:class="{'active-color': activeColor === 'red'}" v-on:click="changeColor('red','#8b0516')"></div>
                        <div class="color color-green" v-bind:class="{'active-color': activeColor === 'green'}" v-on:click="changeColor('green','#2b814c')"></div>
                        <div class="color color-lightgreen" v-bind:class="{'active-color': activeColor === 'lightgreen'}" v-on:click="changeColor('lightgreen','rgb(184, 239, 226)')"></div>
                        <div class="color color-gray" v-bind:class="{'active-color': activeColor === 'gray'}" v-on:click="changeColor('gray','rgb(197, 196, 196)')"></div>
                        <div class="color color-orange" v-bind:class="{'active-color': activeColor === 'orange'}" v-on:click="changeColor('orange','#d37c0a')"></div>
                    </div>
                </div>
            </div>
            <!-- 衣服件數 -->
            <div class="fs-5 fw-bold mt-4">
                衣服件數
                <div class="d-flex">
                    <input type="number" class="form-control mt-4 text-center" style="width:80px;" v-model="count" min="0" />
                    <select class="form-control ms-3 mt-4 " style="width:130px; height:37.6px;">
                        <option disabled selected>請選擇尺寸</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>

            </div>
        </div>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" >-</button>
                        <input type="text" class="form-control" v-model="quantity" readonly>
                        <button class="btn btn-outline-secondary" type="button">+</button>
                    </div>
                
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="introduction-tab" data-bs-toggle="tab"
                            data-bs-target="#introduction" type="button" role="tab" aria-controls="introduction"
                            aria-selected="true">
                        商品介紹
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                        運送方式
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3 text-center" id="introduction" role="tabpanel"
                     aria-labelledby="introduction-tab">
                    
                </div>
                <div class="tab-pane fade p-3 text-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js" integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var vueApp={
            data() {
                return {
                    baseAddress: "https://localhost:7279",
                    filter:"",
                    product: [],
                }
            },
            methods:{
                List: function () {
                    let _this = this;
                    axios.get(`${_this.baseAddress}/Product/Getproduct`).then(response => {
                        _this.product = response.data;
                    }).catch(err => {
                        alert(err.message)
                    })
                },
                Filterproduct:function(){
                    let _this=this;
                    var request={};
                    request.pname=_this.filter;
                    axios.post(`${_this.baseAddress}/Product/Filterproduct`, request).then(response=>{
                        _this.product = response.data;
                    });
                },
            },
            mounted:function () {
                let _this = this;
                _this.List();
                _this.Filterproduct();

            }
        };
        var app=Vue.createApp(vueApp).mount("#app");
    </script>
}