@model Project.Models.CMemberWrap

@{
    ViewData["Title"] = "Create";
}

<h1>新增會員</h1>

<h4>填寫會員資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Mname" class="control-label"></label>
                <input asp-for="Mname" class="form-control" />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mgender" class="control-label">性別</label>
                <select asp-for="Mgender" class="form-control" />
                <option value="0">男性</option>
                <option value="1">女性</option>
                </select>
                <span asp-validation-for="Mgender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maccount" class="control-label"></label>
                <input asp-for="Maccount" class="form-control" />
                <span asp-validation-for="Maccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mpassword" class="control-label"></label>
                <input asp-for="Mpassword" class="form-control" />
                <span asp-validation-for="Mpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memail" class="control-label"></label>
                <input asp-for="Memail" class="form-control" />
                <span asp-validation-for="Memail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maddress" class="control-label"></label>
                <input asp-for="Maddress" class="form-control" />
                <span asp-validation-for="Maddress" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @* <label asp-for="Mbirthdays" class="control-label"></label> *@
            @* <input asp-for="Mbirthdays" class="form-control" id="datepicker" /> *@
            @* <span asp-validation-for="Mbirthdays" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Mbirthdays" class="control-label"></label>
                <div class="input-group date" id="datetimepicker1">
                    <input asp-for="Mbirthdays" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Mbirthdays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mphone" class="control-label"></label>
                <input asp-for="Mphone" class="form-control" />
                <span asp-validation-for="Mphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mpoints" class="control-label"></label>
                <input asp-for="Mpoints" class="form-control" readonly value="0" />
                <span asp-validation-for="Mpoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mpermissions" class="control-label"></label>
                <select asp-for="Mpermissions" class="form-control"  />
                <option value="0">一般訪客</option>
                <option value="1">黑名單</option>
                <option value="2">會員</option>
                <option value="3">VIP會員</option>
                <option value="11">一般員工</option>
                <option value="21">副店長</option>
                <option value="31">店長</option>
                <option value="51">經理</option>
                <option value="61">區經理</option>
                <option value="71">執行長</option>
                <option value="81">副總</option>
                <option value="91">負責人</option>
                </select>
                <span asp-validation-for="Mpermissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mphoto" class="control-label"></label>
                <input asp-for="Mphoto" class="form-control" />
                <span asp-validation-for="Mphoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增完成" class="btn btn-primary" />
                <input type="button" value="送出"
                       class="btn btn-success"
                       style="margin-left: 10px;"
                       onclick="if(confirm('確定要送出嗎?'))
                       { window.location.href='@Url.Action("List", "Member")'; }" />
                <input type="button" value="返回"
                       class="btn btn-secondary"
                       style="margin-left: 10px;"
                       onclick="location.href='@Url.Action("List", "Member")'" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                   format:"YYYY/MM/DD"
            });
        });
    </script>
}
