.titleName {
    font-weight: bold;
    font-size: 20px;
    font-size: 30px;
    color: #25458ac7 !important;
    letter-spacing: 5px;
  }
  .input-search {
    height: 40px;
    width: 400px;
  }
 @media (max-width: 992px) {
    .input-search {
        height: 40px;
        width: 200px;
    }
 }
  .btn-search {
    height: 40px;
    border: 1px solid #afb4bdc7 !important;
    border-radius: 20% !important;
  }
  .btn-search:hover {
    background-color: #eff1f3e5 !important;
  }
  .bi-search {
    color: gray;
  }
  .form-search {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .bi-handbag,
  .bi-person,
  .bi-heart {
    font-size: 30px;
    color: #25458ac7 !important;
    margin: 0px 10px;
  }
  .bi-handbag:hover,
  .bi-person:hover,
  .bi-heart:hover {
    color: #b85a5ac7 !important;
  }
  .navbar-nav {
    margin-left: auto;
  }
  hr {
    color: #92969ec7 !important;
  }
  .menu {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    position:absolute;
  }
  .menu-column {
    text-align: center;
  }
 .item {
    text-decoration: none;
    color: #000;
 }

