@model Project.Models.CProductWrap

@{
    ViewData["Title"] = "Create";
}

<h1>上傳照片</h1>

<h4>照片資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* 商品名稱 *@
            <div class="form-group"> 
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control mb-3" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>

            @* 商品價格 *@
            <div class="form-group">
                <label asp-for="Pprice" class="control-label"></label>
                <input asp-for="Pprice" class="form-control mb-3" />
                <span asp-validation-for="Pprice" class="text-danger"></span>
            </div>

            @* 商品系列 *@
            <div class="form-group">
                <label asp-for="Ptype" class="control-label"></label>
                <input asp-for="Ptype" class="form-control mb-3" />
                <span asp-validation-for="Ptype" class="text-danger"></span>
            </div>

            @* 商品分類 *@
            <div class="form-group">
                <label asp-for="Pcategory" class="control-label"></label>
                <input asp-for="Pcategory" class="form-control mb-3" />
                <span asp-validation-for="Pcategory" class="text-danger"></span>
            </div>

            @* 商品尺寸 *@
            <div class="form-group">
                <label asp-for="Psize" class="control-label"></label>
                <input asp-for="Psize" class="form-control mb-3" />
                <span asp-validation-for="Psize" class="text-danger"></span>
            </div>

            @* 商品顏色 *@
            <div class="form-group">
                <label asp-for="Pcolor" class="control-label"></label>
                <input asp-for="Pcolor" class="form-control  mb-3 " />
                <span asp-validation-for="Pcolor" class="text-danger"></span>
            </div>

            @* 商品描述 *@
            <div class="form-group">
                <label asp-for="Pdepiction" class="control-label"></label>
                <input asp-for="Pdepiction" class="form-control  mb-3" />
                <span asp-validation-for="Pdepiction" class="text-danger"></span>
            </div>

            @* 商品庫存 *@
            <div class="form-group">
                <label asp-for="Pinventory" class="control-label"></label>
                <input asp-for="Pinventory" class="form-control mb-3" />
                <span asp-validation-for="Pinventory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="file" name="photoPath" class="mb-3"/><br>
                <span asp-validation-for="photoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增商品" class="btn btn-primary mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
