@model Project.Models.CProductWrap

@{
    ViewData["Title"] = "Edit";
}

<h1>修改商品</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Pid" value="@Model.Pid" />
            <div class="form-group">
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pprice" class="control-label"></label>
                <input asp-for="Pprice" class="form-control" />
                <span asp-validation-for="Pprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ptype" class="control-label"></label>
                <input asp-for="Ptype" class="form-control" />
                <span asp-validation-for="Ptype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcategory" class="control-label"></label>
                <input asp-for="Pcategory" class="form-control" />
                <span asp-validation-for="Pcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Psize" class="control-label"></label>
                <input asp-for="Psize" class="form-control" />
                <span asp-validation-for="Psize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcolor" class="control-label"></label>
                <input asp-for="Pcolor" class="form-control" />
                <span asp-validation-for="Pcolor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pdescription" class="control-label"></label>
                <input asp-for="Pdescription" class="form-control" />
                <span asp-validation-for="Pdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pinventory" class="control-label"></label>
                <input asp-for="Pinventory" class="form-control" />
                <span asp-validation-for="Pinventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- 主圖片上傳 -->
                <label>主圖片：</label>
                <input type="file" name="photoPath" class="form-control" />

                <!-- 多張圖片上傳 -->
                <label>附加圖片：</label>
                <input type="file" name="photos" class="form-control" multiple />

            </div>
            <div class="form-group">
                <input type="submit" value="送出修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
