@model Project.Models.CProductWrap

@{
    ViewData["Title"] = "Productdetail";
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}
@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&family=Liu+Jian+Mao+Cao&family=Long+Cang&family=Ma+Shan+Zheng&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <style>
        .btn-side {
            position: absolute;
            margin: 2px;
            background-color: #8891a3c7 !important;
            border: none !important;
            color: white !important;
            width: 60px;
            height: 35px;
            border-radius: 10px !important;
        }

        .btn-side:hover {
            background-color: #8a8282c7 !important;
            border: 1px solid #8891a3c7 !important;
        }

        .product-item {
            text-align: center;
        }
     
*    </style>
}

<!-- breadcrumb 麵包屑 -->
<nav aria-label="breadcrumb" class="p-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/FrontHome/FrontIndex" class="text-decoration-none">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="~/Product/ProductList" class="text-decoration-none">商品列表</a></li>
        <li class="breadcrumb-item active" aria-current="page">商品介紹</li>
    </ol>
</nav>
<div id="app" class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/@Html.DisplayFor(model => model.Pphoto)" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/@Html.DisplayFor(model => model.Pphoto)" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/@Html.DisplayFor(model => model.Pphoto)" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="fs-2 ms-4"> @Html.DisplayFor(model => model.Pname) - @Html.DisplayFor(model => model.Pcolor)</div>
            <div class="fs-2 mt-5 ms-4">NT$ @Html.DisplayFor(model => model.Pprice) </div>
            <div class="fs-3 mt-5 ms-4">@Html.DisplayFor(model => model.Pdescription) </div>
            <div class="fs-5 ms-4">
                <div class="my-5">
                    <button type="button" class="btn btn-outline-dark" value="S">S</button>
                    <button type="button" class="btn btn-outline-dark" value="M">M</button>
                    <button type="button" class="btn btn-outline-dark" value="L">L</button>
                    <button type="button" class="btn btn-outline-dark" value="XL">XL</button>
                </div>
                <div class="fs-5 mt-4">
                    <div class="input-group" style="max-width: 150px;">
                        <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity()">-</button>
                        <input type="text" class="form-control text-center" value="1" id="quantity">
                        <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity()">+</button>
                    </div>
                    <div class="mt-5"><button type="button" class="btn btn-outline-secondary" v-on:click="">加入購物車</button></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function increaseQuantity() {
          var quantity = document.getElementById("quantity");
          quantity.value = parseInt(quantity.value) + 1;
        }

        function decreaseQuantity() {
          var quantity = document.getElementById("quantity");
          if (parseInt(quantity.value) > 1) {
            quantity.value = parseInt(quantity.value) - 1;
          }
        }
    </script>
}

